<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="wrapper">
      <h3 class="form-signin-heading">Sign up to ColorTips!</h3>
      <hr class="colorgraph"><br>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control', placeholder: "Name"  %>
      </div>

      <div class="form-group">
        <%= form.text_field :email, class: 'form-control', placeholder: "Email"  %>
      </div>

      <div class="form-group">
        <%= form.password_field :password, class: 'form-control', placeholder: "Password"  %>
      </div>
      
      <div class="form-group">
        <%= form.password_field :password_confirmation,class: 'form-control', placeholder: "Password Confirmation" %>
      </div>

      <button class="btn btn-lg btn-primary btn-block"  name="Submit" type="Submit">Crate User</button>  

      <div class='text-center'>
        <%= link_to 'login page', login_path %>
      </div>
  </div>        
</div>  
<% end %>
