<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.email %>
</p>
<div class="row">
  <% @color_palettes.each do |color_palette| %>
    <div class="col-md-1">
      <h2 style="font-size: 10px;"><%= color_palette.color_palette_title %></h2>
      <div class="color_palette">
        <% color_palette.colors.each do |color| %>
          <div class="color-row custom-width" style="height: 20px; background-color:<%= color.closest_palette_color_html_code %>"></div>
        <% end %>
      </div> 
    </div>    
  <% end %>  
</div> 

<% @posts.each do |post| %>
  <%= post.body %>
  <% post.images.each do |image| %>
    <%= image_tag image.to_s %>
  <% end %>
<% end %>     

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
