<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.email %>
</p>
<h4>Your ColorPalette</h4>
<div class="container-fluid">
  <div class="row">
    <% @color_palettes.each do |color_palette| %>
      <div class="col-md-2">
        <h2 style="font-size: 10px;"><%= color_palette.color_palette_title %></h2>
        <div class="color_palette">
          <% color_palette.colors.each do |color| %>
            <div class="color-row custom-width" style="height: 15px; background-color:<%= color.closest_palette_color_html_code %>"></div>
          <% end %>
        </div> 
      </div>    
    <% end %>  
  </div> 
</div>
<h4>Your Post</h4>  
<div class="col-sm-12 col-lg-7 mb-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-4 mb-8">
        <div class="card">
          <div class="card-body d-flex flex-wrap justify-content-center ">
            <div class="row">
              <div class="col-md-12">
                <% post.color_palette.colors.each do |color| %>
                  <div class="color-row custom-width" style="height: 20px; width: 28px; background-color:<%= color.closest_palette_color_html_code %>"></div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% post.images.each do |image| %>
                  <%= image_tag image.to_s, class: "postimage" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
