<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.email %>
</p>
<%= link_to t('defaults.edit'), edit_profile_path %>
<h4>Your ColorPalette</h4>
<div class="container">
  <div class="row">
    <% @color_palettes.each do |color_palette| %>
      <div class="col-md-2" style="margin-right: 25px;">
        <h2 style="font-size: 10px;"><%= color_palette.color_palette_title %></h2>
        <div class="color_palette">
          <% color_palette.colors.each do |color| %>
            <div class="color-row custom-width" style="height: 15px; background-color:<%= color.closest_palette_color_html_code %>"></div>
          <% end %>
        </div>
        <% if current_user == color_palette.user %>
          <%= link_to delete_color_palette_path(color_palette), method: :delete, class: 'delete-color-palette', data: { confirm: 'Are you sure you want to delete this color palette?' } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<h4>Your Post</h4>  
<div class="container-magic-grid">
  <% @posts.each do |post| %>
    <div class="col-sm-2">
        <div class="row"> 
            <div class="color-palette">
                <% post.color_palette.colors.each do |color| %>
                    <div class="color-row" style="width: 28px; background-color:<%= color.closest_palette_color_html_code %>"></div>
                <% end %>
            </div>
        </div>
        <div class="row">      
            <div class="image-container">
              <%= link_to post_path(post) do %>
                <% if post.images.any? %>
                 <%= image_tag post.images.first.to_s, class: "postimage" %>
                <% end %>
              <% end %>  
            </div>
        </div>    
    </div>        
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script>
  $(document).on('click', '.delete-color-palette', function(e) {
    e.preventDefault();
    if (confirm('Are you sure you want to delete this color palette?')) {
      var color_palette_id = $(this).data('color-palette-id');
      $.ajax({
        type: 'DELETE',
        url: '/color_palettes/' + color_palette_id,
        success: function() {
          // 削除されたカラーパレットを画面から削除する
          $(e.target).closest('.col-md-2').remove();
        },
        error: function() {
          alert('Failed to delete color palette');
        }
      });
    }
  });

  document.querySelectorAll('.image-container').forEach(function(container) {
    // このcontainer内のすべてのpostimageについて、高さを取得する
    var images = container.querySelectorAll('.postimage');
    var maxHeight = 0;
    images.forEach(function(image) {
      var height = image.height;
      if (height > maxHeight) {
        maxHeight = height;
      }
    });
    // containerの高さを、color-rowの数で割って求めた高さに設定する
    var palette = container.querySelector('.color-palette');
    var numColors = palette.querySelectorAll('.color-row').length;
    var paletteHeight = maxHeight / numColors;
    palette.style.height = paletteHeight + 'px';
  });
</script>