<div class="container-magic-grid">
  <% @search_posts.each do |post| %>
    <div class="row1">
      <div class="col-sm-2">
        <div class="row"> 
          <div class="card-posts d-flex flex-column">
            <div class="d-flex">
              <div class="color-palette mr-3">
                <% post.color_palette.colors.each do |color| %>
                  <div class="color-row" style="width: 28px; background-color:<%= color.closest_palette_color_html_code %>"></div>
                <% end %>
              </div>
              <div class="image-container">
              <%= link_to post_path(post), class: 'btn', remote: true, data: { toggle: 'modal', target: '#postModal' } do %>
                <% if post.images.any? %>
                  <%= image_tag post.images.first.to_s, class: "postimage", style: "max-width: 150px;" %>
                <% end %>
              <% end %>
            </div>
            </div>
            <div class="user-info mt-3">
              <%= image_tag post.user.avatar.url, class: 'user-avatar' if post.user.avatar.present? %>
              <div class="user-name">
                <%= link_to post.user.name, user_path(post.user) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">ColorTipsへようこそ!</h4>
      </div>
      <div class="modal-body">

        <!-- Add Carousel here -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>使い方</h3>
              <h5>Step1</h5>
              <p>ログイン後、ヘッダーメニューの色分析をクリック！</p>
              <p>好きな画像を読み込んでカラーパレットを作成できます。<p>
              <%= image_tag '画面収録 2023-06-04 23.31.55.gif', alt: 'Description of image',class: 'my-image' %> 
            </div>
            <div class="carousel-item">
              <h3></h3>
              <h5>Step2</h5>
              <p>作成したカラーパレットはマイページでいつでも確認できます。</p>
              <%= image_tag '画面収録 2023-06-06 0.40.46.gif', alt: 'Description of image',class: 'my-image' %>
            </div>
            <div class="carousel-item">
              <h3></h3>
              <h5>Step3</h5>
              <p>カラーパレットからインスピレーションを得てカラーパレットと写真を投稿しよう！</p>      
              <%= image_tag '画面収録 2023-06-06 0.05.30.gif',alt: 'Description of image',class: 'my-image' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>




<script>
  document.querySelectorAll('.image-container').forEach(function(container) {
    // このcontainer内のすべてのpostimageについて、高さを取得する
    var images = container.querySelectorAll('.postimage');
    var maxHeight = 0;
    images.forEach(function(image) {
      var height = image.height;
      if (height > maxHeight) {
        maxHeight = height;
      }
    });
    // containerの高さを、color-rowの数で割って求めた高さに設定する
    var palette = container.querySelector('.color-palette');
    var numColors = palette.querySelectorAll('.color-row').length;
    var paletteHeight = maxHeight / numColors;
    palette.style.height = paletteHeight + 'px';
  });
</script>
